/* header */

header {
  /* background-color: #F9FAF5; */
  padding: 1px 0 30px 0;
  font-family: monospace;
  font-size: 200%;
  color: rgb(97, 183, 202);
}

#buttons {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: rgb(97, 183, 202);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%; 
}

button:hover {
  opacity: 0.5;
}



/* Body */
body {
  font-family: monospace;
  /* font-size: 110%; */
  line-height: 20px;
}


/* map */
#usa {
  position: relative;
  background-color: #BEF4FF;
  cursor: pointer;
}

.state {
    fill: lightgrey;
    stroke: none;
  }

.outline {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.hoverBox {
  position: absolute;
  text-align: center;
  padding: 4px;
  width: 140px;
  height: 60px;
  font: 12px sans-serif;
  background: honeydew;
  border: 1px solid grey;
  border-radius: 10px;
  pointer-events: none;
}


/* Legend */
#usaMapLegend {
  position: absolute;
  float: left;
  background: #F9F3EE;
  padding: 0px 0px 10px 0px;
  left: 20px;
  top: 760px;
}
#usaMapLegend text {
  /* fill: white; */
  font-family: monospace;
  font-size: 14px;
  stroke: black;
}


/* slider */

.slider-labels{
  display: right;
  margin: 0px -41px 0;
  padding: 0px 10px 0px 40px;
  list-style: none;
  }

.slider-labels li{

  position: relative fixed;

  float: left;
  width: 59px;
  color: #000000;
  font-size: 10px;
}

/* dropdown */
#dropdown {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
}


/* position */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

.boxes {
  column-width: 600px;
  column-gap: 50px;
}

.display{
  padding-top: 190px;
  padding-bottom: 210px;
}

/* .box2 {
  padding-top: 100px;
} */

/* #usaMapLegend line {
  stroke: white;
}

#usaMapLegend path {
  stroke: white;
} */


/* Graphs */


/* Bar graph */
#producerType {
  background: #F3E4E7;
  /* float: left; */
}

/* .bar {
  fill: #B1AFCD;
} */

/* Line graph */
#yearlyGeneration{
  background-color: #F3E4E7;
  /* float: right; */
}

.line {
  fill: none;
  stroke: #B1AFCD;
  stroke-width: 2px;
}


/* footer */
footer {
  padding: 10px 10px;
  background-color:rgb(97, 183, 202);
  color: #FFFFFF;
  font-size: small;
  line-height: 20px;
}
footer a{
  color: #FFFFFF;
}
