

.state {
    fill: lightgrey;
    stroke: none;
  }

.outline {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}


.slider-labels{
  margin: 0px -41px 0;
  padding: 0px 0px 0px 40px;
  list-style: none;

  }

  .slider-labels li{

    position: relative fixed;

    float: left;
    width: 59px;
    text-align: center;
    color: #000000;
    font-size: 10px;
    

  }

  .hoverBox {
    position: absolute;
    text-align: center;
    padding: 4px;
    width: 140px;
    height: 60px;
    font: 12px sans-serif;
    background: honeydew;
    border: 1px solid grey;
    border-radius: 10px;
    pointer-events: none;
  }

  #usa {
      background-color: aquamarine;
      float: left;
  }

  #usaMapLegend {
    position: absolute;
    background: honeydew;
    padding: 0px 0px 10px 0px;
    left: 15px;
    top: 500px;
  }

  /* #usaMapLegend line {
    stroke: white;
  }

  #usaMapLegend path {
    stroke: white;
  } */

  #usaMapLegend text {
    /* fill: white; */
    font-size: 14px;
    stroke: black;
  }

  #producerType {
    float: left;
  }

  #yearlyGeneration {
    float: right;
  }