

.state {
    fill: lightgrey;
    stroke: none;
  }

  .outline {
    stroke: black;
    stroke-width: 1px;
    fill: none;
  }



  .hoverBox {
    position: absolute;
    text-align: center;
    padding: 4px;
    width: 140px;
    height: 60px;
    font: 12px sans-serif;
    background: honeydew;
    border: 1px solid grey;
    border-radius: 3px;
    pointer-events: none;
  }

  #usa {
      background-color: aquamarine;
  }

  #usaMapLegend {
    position: absolute;
    background: honeydew;
    padding: 0px 0px 10px 0px;
    left: 15px;
    top: 670px;
  }

  /* #usaMapLegend line {
    stroke: white;
  }

  #usaMapLegend path {
    stroke: white;
  } */

  #usaMapLegend text {
    /* fill: white; */
    font-size: 15px;
    stroke: black;
  }